# Host Persister Service (Dev)
[Unit]
Description=Host Persister Service (Dev)

[Service]
WorkingDirectory=/etc/hostpersister_
ExecStart=/usr/local/bin/hostpersister_
User=root
Group=root
Type=simple
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target